/* .card {
  border: 2px solid dimgray;
  border-radius: 12px;
  padding: 1%;
  -webkit-box-shadow: 0 1px 1px rgba(255,255,255,.75);
  box-shadow: 0 1px 1px rgba(255,255,255,.75);

} */

.list--centre-justify {
  display: grid;
  place-items: center;
}

